@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
  --card-bg-color: rgba(34, 34, 34, 0.846);
}

body {
  background-color: transparent;
}

h2 {
  size: 2rem;
  font-weight: 700;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}
.space-around {

}


.reference-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  width: 25%;
  height: 30%;
  padding: 1rem;
  color:white;
  background-color: var(--card-bg-color);
  border-radius: 0.5rem;
}
.reference-card h2 {
  text-align: left;
}

.reference-card h3 {
  text-align: left;
}

.reference-card p {
  padding-top: 1rem;
}
